/* Var callouts*/
:root {
    --white: #fffbfb;
    --grey: #f0eef1;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
    --border-radius: 8px;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
    --container-width: 1200px;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  /*CSS RESET*/
  *, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }


/*holy grail format*/
.wrapper {
    display: grid;
    grid-template-columns:
      1fr
      min(800px, 100%)
      1fr;
  }
  .wrapper > * {
    grid-column: 2;
    margin:
  
  }
  .full-bleed {
    width: 100%;
    grid-column: 1 / 4;
  }
  
  .noDisplay{
    display: none;
  }
  

  


/*UTIL*/

.tempMarker{ /*move preview*/
  color:rgb(219, 219, 219)
}
.ticbox.yellow{
  transition: opacity 0.4s ease-in-out;
  transition-property: color, transform;
  color:goldenrod;
}

.result{
  color:gray;
}

.center{
  pointer-events: none;
}


.chosenMarker{
  color:var(--white);
/*  background-color:gray; */
 }

.switch{
  transition: transform 450ms;
  color:gray;
  position:absolute;
  background-color: gray;
  width:50%;
  top:1;
  left:0;
}

.switch-X{
  color:gray;
  position:absolute;
  background-color: gray;
  width:50%;
  top:1;
  transform:translate(55px);
}

 .choose-container{
  position:relative;
  z-index: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif; 
  user-select: none;
  font-weight: 700; 
  width:4em;
  color:gray;
 }

 .marker{
  z-index: 0;
  border:2px solid gray;
  padding-left:1rem;
  padding-right:1rem;
 }

 .reset{
  border:2px solid gray;
  border-radius: 1rem;
  font-size: 2rem;
  color:gray;
  z-index: 1000;
  background-color:var(--grey);
  position:absolute;
  top:px;
  width:6em;
  box-shadow: 0 0.5rem 0.5rem #0c0c0c21, 6px 5px 12px rgba(184, 184, 184, 0.418);
  will-change: transform;
    transition: transform 450ms;
 }
 .reset:hover{
  transition: transform 125ms;
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 0.5rem #0c0c0c21, 6px 5px 12px rgba(184, 184, 184, 0.418);
  cursor: pointer;
 }

.hide{
  display:none;
}
 
h2{
  font-family: Arial, Helvetica, sans-serif;
}




/*HEADER*/

.head-container{
    font-style:normal;
    font-family:sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1.5rem;
    font-size: 20px;
    box-shadow: 0 0.5rem 0.5rem #0c0c0c21, 6px 5px 12px rgba(184, 184, 184, 0.418);
}


/* Main container*/

  body {
    background-color: var(--grey);
    color: var(--black);
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
    /* footer support */
    margin-bottom: 100px;
  }

  .main-container{
    display: flex;
    flex-direction: column;
    margin-top:50px;
    padding:5px;

    height:100vh;
    align-items: center;
    justify-content: flex-start;
    gap:2rem;
    font-size:1.5em;
    
  }

  .grid-container{
    aspect-ratio: 1/1;
    width: 70%;
    display:grid;
    grid-template-columns:  repeat(3, minmax(100px,1fr));
    grid-template-rows: repeat(3, minmax(100px,));
    justify-content:center;
    
    
  }

  .ticbox{
    border:3px solid rgb(0, 0, 0);
    display:flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif; 
    user-select: none;
    font-weight: 600; 
  }
    

/* Media queries for fluid text */
@media screen and (min-width: 320px) and (max-width: 900px) {
    .ticbox{
      font-size: 13vw; /* Adjust the scaling factor as needed */
      font-weight: 650;
    }
  }
  
  /* Additional media queries as needed */
  @media screen and (min-width: 901px) {
    .ticbox {
      font-size: 4em; /* Adjust the font size for larger screens */
      font-weight:600;
    }
  }
  
  #box1{border-top:none;border-left:none;}
  #box2{border-top:none;}
  #box3{border-top:none;border-right:none;}
  #box4{border-left:none;}
  #box6{border-right:none;}
  #box7{border-bottom:none;border-left:none;}
  #box8{border-bottom:none;}
  #box9{border-bottom:none;border-right:none;}

 
 